.sidebar {
  width: 200px;
  /* border-radius: 12px 0 0 12px; */
  overflow: hidden;
  box-shadow: -4px 0 6px -6px var(--even-darker);
}

.sidebarContainer {
  height: calc(100% - 0.25rem);
  padding-block-start: 0.25rem;
}

.sidebarList {
  width: calc(100% - 1rem);
  margin-inline-start: 0.5rem;
  height: 100%;

  li {
    margin-block: 0.2rem;
    padding: 0.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
  }

  li[data-selected="true"] {
    opacity: 0.3;
  }

  li:hover:not([data-selected="true"]) {
    text-decoration: underline;
    cursor: pointer;
  }
}
