:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 0.9rem;
  font-family: "IBMPlexSans-Regular", system-ui, sans-serif;

  --background: hsl(0, 0%, 95%);
  --sidebar: hsl(0, 0%, 93%);
  --lighter: hsl(0, 0%, 94%);
  --darker: hsl(0, 0%, 92%);
  --even-darker: hsl(0, 0%, 87%);
  --green: hsl(60, 12%, 68%);
}

body {
  background: var(--background);
  overflow: hidden;
}
